


.product-php-container-all {
  display: block; /* Ensure normal flow */
  width: 100%;
}

/*Product add form style */
.form-container-add-product {
  width: 100%;
  flex-wrap: wrap; /* Allows content to move to the next line */
  align-items: flex-start; /* Aligns items at the top */
  /*background-color: antiquewhite;*/
}
.form-container-add-product h1 {
  text-align: center;
  font-weight: 800;
  padding: 10px;
}
.form-body-add-product{
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  border-radius: 10px;
}

.form-body-add-product form {
  width: 60%;
}

.form-body-add-product form .product-php-container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.product-general-information-container{
  width: 100%;
  background-color: white ;
  padding: 20px 0 20px 20px;
  border-radius: 10px 0  0 10px;
}

.product-name-container, .product-specs-container, .product-price-container, .product-brand-container{
  width: 100%;
  background-color: white;
  padding: 10px 8px;
  margin-bottom: 10px;
} 
.product-order, .product-status, .product-quantity, .product-price, .product-brand{
  margin-bottom: 10px;
}

.form-body-add-product form .product-php-container input ,.form-body-add-product form .product-php-container textarea{
  width: 100%;
  outline: none;
  padding: 5px 5px;


}
.form-body-add-product form .product-php-container select{
  width: 50%;
  outline: none;
  padding: 5px 5px;
}


.add-image-product-container{
  width: 100%;
  background-color: white;
  padding: 20px 0 0 0;
  border-radius: 0 10px  10px 0;
}
.add-image-product-container .product-image-container {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dotted black;
  margin: 0 auto;
}
#choosen-image {
  width: 50% !important;
  height: auto !important;
  display: block !important;
  object-fit: contain !important;
  padding: 10px !important;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}   
input[type="file"] {
  display: none;
}
label[for="upload-button"]{
  width: 40%;
  padding: 8px 20px;
  text-align: center;
  position: relative;
  left: 30%;
  color: white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

.add-image-product-container .submit{
  width: 100%;
  margin: 10px auto;
}





.submit-button {
  width: 20%;
  margin: 20px auto;
  display: flex;
}
.submit-button input{
  padding: 5px 8px;
  background-color: rgb(66, 66, 255);
  color: white;
  border: none;
  font-weight: 800;
  border-radius: 3px;
}
.submit-button input:hover {
  background-color: white;
  color: rgb(90, 90, 200);
}

.submit-button input:active {
  background-color: rgb(90, 90, 200);
  color: white;
}







